body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333e52;
  color: #ABB2BF;
  height: 95vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.board-picture {
  display: block;
  margin-right: 1rem;
  max-height: 300px;
  max-width: 350px;
}