.account-nav-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.account-nav-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.account-nav-buttons-container button {
  width: 125px;
  height: 35px;
  border-style: none;
  margin: 0.2rem;
  margin-top: 1rem;
  background-color: #E5C07B;
  color: #282C34; 
  transition: all 0.2s ease-in;
  border-radius: 0.3rem;
}

.account-nav-buttons-container button:hover {
  cursor: pointer;
  background-color: #E9AD0C; 
}