.user-listings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unlist-button {
  height: 30px;
  width: 120px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in;
  background-color: rgb(196, 71, 71);
  color: #333E52
}

.unlist-button:hover {
  color: rgb(196, 71, 71);
  background-color: #4f5766;
  cursor: pointer
}

.new-bid-brief-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.new-bid-listing-image {
  width: 350px;
  height: 225px;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

.new-bid-listing-info-container {
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #98C379; 
}

.no-new-bids {
  margin-top: 5rem;
  font-size: 2rem;
}
