.keyboard-listing-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 275px;
  border-radius: 0.5rem;
  background: #2e3747;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.2s ease-in;
}

.keyboard-listing-container:hover {
  cursor: pointer;
  background: #384153; 
}

.listing-picture-container {
  height: 65%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}


.listing-details {
  width: 100%;
  padding-left: 0.5rem;
}

.listing-description {
  width: 45%;
}

.board-picture {
  display: block;
  margin-right: 1rem;
  max-height: 300px;
  max-width: 350px;
  border-radius: 0.5rem;
}

.test-image {
  width: 1000px;
}

.listing-board-name {
  color: #98C379;
  font-size: 1rem;
}

