.listing-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.picture-details-container {
  max-width: 1200px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.picture-container {
  min-width: 500px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.75rem;
}

.overview-container {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-description {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.boardName {
  font-size: 2rem;
  color: #98C379; 
}

.listing-details-min-bid {
  font-size: 1.25rem;
}
.listing-details-min-bid span {
  color: #98C379; 
}

.listing-details-place-bid-button {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 300px;
  height: 50px;
  align-self: center;
  border-radius: 0.2rem;
  border: none;
  transition: all 0.2s ease-in;
  background-color: #98C379; 
}

.listing-details-place-bid-button:hover {
  cursor: pointer;
  color: #98C379;
  background-color: #333E52;
}

.no-auth-bid {
  width: 300px;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.no-auth-bid a {
  color: #61AFEF;
}

.listing-detail {
  color: #61AFEF;
}